@import url('https://fonts.googleapis.com/css?family=Varela+Round');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');

@mixin breakpoint($point) {
  @if $point == papa-bear {
    @media (max-width: 1500px)  { @content; }
  }
  @if $point == mama-bear {
    @media (max-width: 1200px)  { @content; }
  }
  @if $point == brother-bear {
    @media (max-width: 850px)  { @content; }
  }
  @else if $point == baby-bear {
    @media (max-width: 450px)  { @content; }
  }
}

$profileBg:#fff;
$skillsBg:#3d3e42;
$profileColor:#9099a0;
$skillsColor:#9099a0; 
$linkColor:#EFC07B;
$boldColor:#4a4e51;
$time:0.6s;

$break-small: 380px;

a{color:$linkColor; text-decoration:none;}

body {
  font-family: 'Roboto', sans-serif !important;
  font-size:14px;
  line-height:1.5em;
}


.sub-headings{
  font-size: 37px;
  letter-spacing: 0.5px;
  font-weight: 900;
}
.sub-sub-headings{
  font-size: 24px;
  font-weight: 900;
  letter-spacing: 0.2px;
}

.added-image{
  margin: 40px 0px;
  text-align: center;
  img{
    width:100%;
    height:auto;
  }
  .image-desc{
    margin:10px 0px; 
    text-align: center;
    font-size: 14px;
    color:grey;
    font-family: "Roboto";
    a{
      color:grey;
      font-weight: inherit;
    }
  }
}

.quote{
  border-left: 4px solid black;
  padding-left: 20px;
}

h2 {
  font-size:2em;
  line-height:1em;
  padding-top:40px; 
  @include breakpoint(mama-bear) {
    padding-top:20px;
  }
  @include breakpoint(baby-bear) {
    font-size:1.8em;  
    padding-top:20px;
  } 
}

h3{
  font-family: 'Open Sans', sans-serif !important;
}

.left-email{
    text-align: center;
    background: rgb(75, 18, 72);
    color: white;
    margin-top: -14px;
    padding-bottom: 20px;
    font-weight: 700;
    font-size: 13px;
    z-index: 20;
}

.header-color{
  background: #F0C27B;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #4B1248, #F0C27B);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #4B1248, #F0C27B); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.landing-grid{
  text-align: center;
  position: relative;
  width: 100%;  
}



.why-me{
  text-align: center !important;
  padding: 0px !important;
  width: 100%;
  height: 100%;
  display: block !important;
  padding-bottom: 50px !important;

  div h1{
    text-align: center;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
  }
}

.mdl-layout__drawer-button{
  i{
    color:#F0C27B;
  }
  
}

.square-feel{
  height:440px;
  //width: 380px;
  padding: 35px;
  margin:0px !important;
  display: inline-flex;
}

.square-feel:hover{
  transition: 0.35s;
  opacity: 1 !important;
}

.btn-social-header {
  border: 2px solid white;
  height: 40px;
  vertical-align: center;
  width: 40px;
  border-radius: 100%;
  text-align: center;
  justify-content: center;
}

#social:hover{
  background-image: url("./assets/images/white-bg.png");
  background-repeat: no-repeat;
  background-position: center center;
  display: inline-flex;
  background-size: 52px;
  -webkit-transition: background-image 0.4s ease-in-out !important;
  transition: background-image 0.4s ease-in-out !important;
  .fa-linkedin{
    color: #0077B5;
    transition: 0.4s;
  }
  .fa-github-square:hover {
    transition: 0.4s;
    color: #4078c0;
  }
  .fa-medium:hover {
    transition: 0.4s;
    color: #00ab6c;
  }
  .fa-behance-square:hover {
    transition: 0.4s;
    color: #1769ff;
    
  }
}




.about-right-sec{
  text-align: left;
  font-weight: 200;
  font-size: 1.3em;
}

@media screen and (max-width: 1024px){
  .mdl-layout__drawer-button {
    margin: 4px;
    color: rgb(255, 255, 255) !important;
  }
}

.progress-bar{
  background-color: rgb(239, 192, 122);
}

// Writings page
.writings-heading{
  text-align: center;
  font-size: 3em;
}
.post{
  padding: 0 60px;
  .post-title{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 40px;  
    font-weight: 400;
  }
}

.blog-sub-image{
  margin: 20px;
  height:400px;
  text-align: center;
  img{
    max-width: 100%;
    max-height: 100%;
  }
}
.aspect-ratio-placeholder{
    position: relative;
    padding:0px;
    width: 100%;
    margin: 0 auto;
    .indv-disp{
      top: 0;
      left: 0;
      margin: 20px 0px;
      width: 100%;
      height: 100%;
      padding-bottom: 30px;
      img{
        width:100%;
        height:auto;
      }
    }
}
.post-parent{
  padding: 65px;
  background: #fff9f9;
  padding: 2em 1em;
  margin:25px 0px;
  min-height: 100%;
  border-radius: 3px;
  box-shadow: 1px 2px 8px #888;
}

.post-card {
  
  p {
    display: flex;
    align-items: center;
  }
  .card-content{
    .writing-card-title{
      font-weight:800;
      letter-spacing: -.82px!important;
      font-size: 1.5em;
      line-height: 1.7em;
      color: black;
      text-decoration: none !important;
    }
  }
  .blog-picture{
    display: initial;
    width:100%;
    img{
      float: right;
      width: 300px;
      height: auto;
    }
  }
}

@media screen and (min-width: 577px){
  .post-card {
    p {
      text-align: center;
    }
    .card-content{
      text-align: center;
      .writing-card-title{
        text-align: center;
      }
    }
    .blog-picture{
      text-align: center;
      display: initial;
      width:100%;
      img{
        float: none;
        text-align:center;
        height: auto;
        width: 95%;
      }
    }
  }

}



.avatar-img{
  height: 250px;
  padding-top: 5em;
}

.banner-text{
  opacity: 0.8;
  text-align: left;
  width: 75%;
  margin: auto;
  border-radius: 7.5px;
  h2{
    color:black;
    font-size: 4rem;
    font-weight: 600;
  }
  p{
    color:#000;
    font-size: 18px;
  }
  
}

.banner-text h1{
  font-size: 66px;
  font-weight: bold;
  color: white;
}

.banner-text hr{
  border-top: 5px dotted white;
  width: 50%;
  margin: auto;
}

.social-links{
  display: inline;
  justify-content: space-between;
  width: 50%;
  margin: auto;
}

.social-links i{
  color: white;
  font-size: 5em;
  padding: 10px 35px;
}

.projects-grid{
  display: flex;
}

/* Resume Page CSS */
.profileImage{
  display: inline-block;
  width: 200px;
  height: 200px;
  background: #4B1248;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;    
  text-align:center;
  background-size: 175px;
  background-position:50% 50%;
  background-repeat:no-repeat;
}

.resume-name{
  padding-top: 0.50em;
  text-align: center;
  font-family: 'Open Sans', sans-serif !important;
  font-weight:bold;
  color: $boldColor;

}
.resume-right-col{
  background: #2e182d;
  color: white;
  padding: 2.5em;
  margin: 0px !important;
}

li {
  margin-bottom:10px;
}

.clearfix::after, .clearfix::before {
  content: " ";
  display: table;
}
.clearfix::after{clear:both;}
.bold {color:$boldColor; font-weight:400;}

.resume-page{
  padding: 0px !important;
  background: #2e182d;
}
.resume-left-side{
  background: white;
  margin:0px !important;
}

h3.experience-title{
    color:$linkColor;
    text-align:left;
    text-transform:uppercase;
    font-size:1.5em;
    margin-left: 12px;
    margin-bottom:30px;
    font-weight:900;
}
.list-titles {
  float:left;
  text-align:left;
  font-weight:600;
  width:40%;
  color:$boldColor;
}
.list-content{
  float:left;
  text-align:left;
  font-weight:300;
}
.dashed li{
  text-indent: -10px;
}

.dashed li:before{
  content: "-   ";
  text-indent: -5px
}


// Contact Form CSS
@mixin grid($column) {
  width:(100% / 12) * $column;
  margin:0 auto;
}

// Transition Ease
@mixin ease($time:333ms, $attr:all, $curve:ease-in-out) {
  -webkit-transition: $attr $time $curve;
  -moz-transition: $attr $time $curve;
  -o-transition: $attr $time $curve;
  -ms-transition: $attr $time $curve;
  transition: $attr $time $curve;
}

//-- Lato --//
@mixin lato-1 {font-family: 'Lato', sans-serif; font-weight:100;}
@mixin lato-1-i {@include lato-1; font-style:italic;}

@mixin lato-3 {font-family: 'Lato', sans-serif; font-weight:300;}
@mixin lato-3-i {@include lato-3; font-style:italic;}

@mixin lato-4 {font-family: 'Lato', sans-serif; font-weight:400;}
@mixin lato-4-i {@include lato-4; font-style:italic;}

@mixin lato-7 {font-family: 'Lato', sans-serif; font-weight:700;}
@mixin lato-7-i {@include lato-7; font-style:italic;}

@mixin lato-9 {font-family: 'Lato', sans-serif; font-weight:900;}
@mixin lato-9-i {@include lato-9; font-style:italic;}


// Colors
$blue:#313A3D;
$orange:#FD9638;
$dark-orange:darken($orange, 20%);
$grey:#B6B6B6;
$light-grey:lighten($grey, 15%);

$background:#efefef;
$field-color:#E8E9EA;


.philosophy-blog, .amazon-blog{
  padding-bottom: 20px;
  p,ol,ul{
    font-family: 'Georgia, serif';
    line-height: 1.65;
    letter-spacing: 0.015em;
    font-size:22px;
  }
  a{
    color:black;
  }
  p{
    font-weight: 400;
    font-style: normal; 
    text-align: justify
  }
  h4{
    padding-top:10px;
    font-size: 26px;
    line-height: 1.22;
    font-weight: 700;
    letter-spacing: -.012em;
  }
  .code-pre{
    background: rgba(0,0,0,.05);
    padding: 20px;
    white-space: pre-wrap;
  }
  .section-divider{
      margin-top: 52px;
      border:0;
      text-align: center;
      margin-bottom: 42px;
      &::before{
        font-weight: 400;
        font-size: 30px;
        letter-spacing: .6em;
        content: '...';
        display: inline-block;
        margin-left: .6em;
        color: rgba(0,0,0,.68);
        position: relative;
        top: -30px;
      }
  }
}

.contactButton{
  color:white;
  margin: 5px;
  padding: 0.85rem;
  background: #78154d;
  border-color: #78154d;
  &:hover{
    color:white;
    background:#6a0a40;
    border-color:#6a0a40;
  }
  &:active, &:focus{
    background: #78154d;
  }
  a{
    color:white;
    text-decoration: none;
  }
}



/// SIDEBAR CSS
@media screen and (min-width: 881px){
  .mobile-nav{
    display:none;
  }
  .main-content-side{
    width:75%;
    float:right;
  }
  .sidebar {
    font-family: "Roboto", Arial, sans-serif;
    color: #FFF;
    text-align: center;
    background: -webkit-linear-gradient(to bottom, #4B1248, #F0C27B);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #4B1248, #F0C27B); 
    height: 100%;
    width: 25%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding: 10px 20px;
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Saf
    /* fallback for old browsers */
  }
  footer{
    text-align: center;
    height: 200px;
    display: flex;
    flex-flow: column-reverse;
  }
  

  .sidebar .brand {
    display: inline-block;
    margin: 25px 0 10px;
    padding: 25px;
    text-align: center;
  }
  .sidebar ul{
    list-style: none;
    li{
      color:white;
      text-align: left;
    }
    li a{
      color:white;
    }
  }

  .sidebar-name{
    font-size:16px;
  }
  .sidebar-label{
    font-size:14px;
    color:rgb(230, 230, 230);
    line-height: 2rem;
    text-align: left;
  }
  .about-section{
    padding: 80px !important;
    background: white;  /* fallback for old browsers */
    text-align: center;
    position: relative;
    top:0;
    left:0;
    width: 100%;
    height: 100% !important;
  }
  .about-left-sec{
    font-weight: 900;
    font-size: 1.8em;
    margin-top:10px;
  }
  .project-right-section{
    text-align: left;
    h2{
      font-size: 2rem;
      font-weight: 600;
      line-height: 2rem;
      margin: 0;
    }
    h3{
      font-size: 1.25rem;
      font-weight: 500;
      margin: 1rem 0;
    }
  }
  .display-picture{
    img {
      width: 100%;
      padding: 0 70px;
    }
  }
  .contact-section{
    padding: 0 80px;
    display: flex;
    flex-flow: row-reverse;
  }
  .button-pad{
    padding-left: 4.15rem;
    padding-right: 4.15rem;
  } 
  
}

@media only screen and (max-width: 800px){
  .mobile-nav{
    background:white;
    padding: 0px;
    
  }
  .nav-brand{
    img{
      margin: 1rem 0rem;
      width:35px;
      height:auto;
    }
  }
  .nav-toggler, .nav-brand{
    margin: 0rem 1rem;
  }
  .navbar-content {
    background:#E8E9EA;
    padding: 0;
  }
  .display-picture{
    img {
      width: 100%;
      padding: 0 10px;
    }
  }
  .first{
    order:2;
  }
  .second{
    order:1;
  }
  .nav-name{
    margin: 0px 10px;
    font-size:0.9rem;
    font-weight:500;
    color:black;
  }
  .mobile-label{
    text-align: left;
    color:#888;
    font-size:0.9rem;
    margin: 0rem 1rem;
  }
  .mobile-link{
    text-align: center;
    color:#888;
    font-size:1.2rem;
    margin: 1rem 0rem;
  }
  .nav-link:hover{
    color:#78154d !important;
  }
  .sidebar{
    display: none;
  }
  .main-content-side {
    margin: 0 !important;
    padding: 20px !important;
  }
  .contactButton{
    margin: 0.5rem 0.2rem;
    padding: 0.85rem 3rem;
    background: #78154d;
    border-color: #78154d;
    &:hover{
      background:#6a0a40;
      border-color:#6a0a40;
    }
    &:active, &:focus{
      background: #78154d;
    }
    a{
      color:white;
      text-decoration: none;
    }
  }
}

@media screen and (max-width: 430px) {
  .main-content-side{
    width:100%;
  }
  .sidebar {
    width: 100%;
    position: relative;
    z-index: 1;
    overflow-x: hidden;
    background: -webkit-linear-gradient(to bottom, #4B1248, #F0C27B);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #4B1248, #F0C27B); 
    footer{
      text-align: center;
      div > p {
        color: white;
      }
    }
  }
  .sidebar .brand {
    margin: 10px auto; 
    text-align: center;
  }
  .sidebar ul{
    list-style: none;
    padding: 0;
    li{
      color:white;
      text-align: center;
    }
    li a{
      color:white;
    }
  }

  .sidebar-name{
    font-size:16px;
  }
  .sidebar-label{
    font-size:14px;
    color:rgb(230, 230, 230);
    line-height: 2rem;
    text-align: center;
  }
  .banner-text{
    text-align: left;
    width: 100%;
    margin: auto;
    border-radius: 7.5px;
    padding:0.5rem;
    h2{
      color:black;
      line-height: 2rem;
      font-size: 2.5rem;
      margin:1rem 0;
      font-weight: 600;
    }
    p{
      color:#000;
      font-size: 1rem;
    }
    
  }
  .display-picture{
    padding:0.5rem;
    margin:1rem 0;
    img {
      width: 100%;
    }
  }
  .first{
    order:2;
  }
  .second{
    order:1;
  }
  .button-center{
    text-align: center;
  }
  .contact-section{
    padding: 0 10px;
    text-align:center;
    margin: 10px 0px;
    .button-pad{
      max-width: 100%;
      // padding-left: 3rem;
      // padding-right: 3rem;
    } 
  }
  
  .project-right-section{
    text-align: left;
    h2{
      font-size: 2rem;
      font-weight: 600;
      line-height: 2rem;
      margin: 1rem 0;
    }
    h3{
      font-size: 1rem;
      font-weight: 500;
      margin-top: 0;
      margin-bottom:1rem;
    }
  }
}

.icon {
  position: absolute;
  width: 100%;
  display: block;
  color:white;
  margin: 5% auto;
}



.project-image{
  img{
    width:100%;
  }
}

.contact-modal-form{
  height: 300px;
  background: red;
}